NYC Green Taxi Data
======
This notebook uses the dataset available [HERE](https://nyc-tlc.s3.us-east-1.amazonaws.com/trip%20data/green_tripdata_2013-09.csv)

## Import libs and initialize paths

In [1]:
import pandas as pd
from pathlib import Path
from sklearn.preprocessing import OneHotEncoder
pd.set_option('max_columns', None)
input_path = Path.cwd() / 'green_tripdata_2013-09.csv'
parquet_path = Path.cwd() / 'green_tripdata_2013-09.parquet'
final_output_path = Path.cwd() / 'output' / 'green_tripdata_2013-09_final.parquet'

## Ingest data from the csv file and reformat to the correct data types then write to parquet

In [2]:
date_parser = pd.to_datetime
parse_dates = ["lpep_pickup_datetime", "Lpep_dropoff_datetime"]
raw_data = pd.read_csv(input_path, index_col=False, parse_dates=parse_dates, date_parser=date_parser)
raw_data.to_parquet(parquet_path, index=False)
raw_data

,VendorID,lpep_pickup_datetime,Lpep_dropoff_datetime,Store_and_fwd_flag,RateCodeID,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,Trip_distance,Fare_amount,Extra,MTA_tax,Tip_amount,Tolls_amount,Ehail_fee,Total_amount,Payment_type,Trip_type
0,2,2013-09-01 00:02:00,2013-09-01 00:54:51,N,1,-73.952408,40.810726,-73.983940,40.676285,5,14.35,50.5,0.5,0.5,10.30,0.00,NaN,61.80,1,NaN
1,2,2013-09-01 00:02:34,2013-09-01 00:20:59,N,1,-73.963020,40.711834,-73.966644,40.681690,1,3.24,15.0,0.5,0.5,0.00,0.00,NaN,16.00,2,NaN
2,2,2013-09-01 00:03:06,2013-09-01 00:28:03,N,1,-73.843460,40.755951,-73.989212,40.740528,1,11.27,34.0,0.5,0.5,8.07,5.33,NaN,48.40,1,NaN
3,2,2013-09-01 00:03:30,2013-09-01 00:23:02,N,1,-73.924812,40.754246,-73.978737,40.721504,1,6.63,22.0,0.5,0.5,5.75,0.00,NaN,28.75,1,NaN
4,2,2013-09-01 00:05:12,2013-09-01 00:30:55,N,1,-73.929504,40.756451,-73.856743,40.697037,1,12.84,37.0,0.5,0.5,0.00,0.00,NaN,38.00,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49642,2,2013-09-30 23:57:52,2013-10-01 00:01:40,N,1,-73.891472,40.746689,-73.881325,40.744678,5,0.73,5.0,0.5,0.5,0.00,0.00,NaN,6.00,2,NaN
49643,1,2013-09-30 23:57:57,2013-10-01 00:08:56,N,1,-73.960648,40.809834,-73.948586,40.776398,1,3.30,12.5,0.5,0.5,2.00,0.00,NaN,15.50,1,NaN
49644,2,2013-09-30 23:58:40,2013-10-01 00:00:46,N,1,-73.944916,40.834251,-73.952332,40.824036,5,0.63,4.0,0.5,0.5,0.00,0.00,NaN,5.00,2,NaN
49645,2,2013-09-30 23:59:41,2013-10-01 00:12:10,N,1,-73.952286,40.789814,-73.977318,40.748329,1,0.00,8.5,0.5,0.5,1.90,0.00,NaN,11.40,1,NaN
49646,2,2013-09-30 23:59:47,2013-10-01 00:06:15,N,1,-73.966194,40.804745,-73.949768,40.822178,1,1.63,7.5,0.5,0.5,0.00,0.00,NaN,8.50,2,1.0

## Add Trip_duration and One-hot encode columns for each hour of the day and each day of the week for the pickup time

In [3]:
raw_data.loc[:, 'hour_of_day'] = raw_data['lpep_pickup_datetime'].dt.hour
raw_data.loc[:, 'day_of_week'] = raw_data['lpep_pickup_datetime'].dt.dayofweek
raw_data['Trip_duration'] =((raw_data.Lpep_dropoff_datetime - raw_data.lpep_pickup_datetime).apply(lambda x:x.total_seconds()))

encoder = OneHotEncoder(sparse=False)
encoded_data = pd.DataFrame(encoder.fit_transform(raw_data[['hour_of_day', 'day_of_week']]))
encoded_data.columns = encoder.get_feature_names(['hour_of_day', 'day_of_week'])

raw_data.drop(['hour_of_day','day_of_week'] ,axis=1, inplace=True)
final_data = pd.concat([raw_data, encoded_data], axis=1)
final_data

,VendorID,lpep_pickup_datetime,Lpep_dropoff_datetime,Store_and_fwd_flag,RateCodeID,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,Trip_distance,Fare_amount,Extra,MTA_tax,Tip_amount,Tolls_amount,Ehail_fee,Total_amount,Payment_type,Trip_type,Trip_duration,hour_of_day_0,hour_of_day_1,hour_of_day_2,hour_of_day_3,hour_of_day_4,hour_of_day_5,hour_of_day_6,hour_of_day_7,hour_of_day_8,hour_of_day_9,hour_of_day_10,hour_of_day_11,hour_of_day_12,hour_of_day_13,hour_of_day_14,hour_of_day_15,hour_of_day_16,hour_of_day_17,hour_of_day_18,hour_of_day_19,hour_of_day_20,hour_of_day_21,hour_of_day_22,hour_of_day_23,day_of_week_0,day_of_week_1,day_of_week_2,day_of_week_3,day_of_week_4,day_of_week_5,day_of_week_6
0,2,2013-09-01 00:02:00,2013-09-01 00:54:51,N,1,-73.952408,40.810726,-73.983940,40.676285,5,14.35,50.5,0.5,0.5,10.30,0.00,NaN,61.80,1,NaN,3171.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,2,2013-09-01 00:02:34,2013-09-01 00:20:59,N,1,-73.963020,40.711834,-73.966644,40.681690,1,3.24,15.0,0.5,0.5,0.00,0.00,NaN,16.00,2,NaN,1105.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,2,2013-09-01 00:03:06,2013-09-01 00:28:03,N,1,-73.843460,40.755951,-73.989212,40.740528,1,11.27,34.0,0.5,0.5,8.07,5.33,NaN,48.40,1,NaN,1497.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,2,2013-09-01 00:03:30,2013-09-01 00:23:02,N,1,-73.924812,40.754246,-73.978737,40.721504,1,6.63,22.0,0.5,0.5,5.75,0.00,NaN,28.75,1,NaN,1172.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,2,2013-09-01 00:05:12,2013-09-01 00:30:55,N,1,-73.929504,40.756451,-73.856743,40.697037,1,12.84,37.0,0.5,0.5,0.00,0.00,NaN,38.00,1,NaN,1543.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49642,2,2013-09-30 23:57:52,2013-10-01 00:01:40,N,1,-73.891472,40.746689,-73.881325,40.744678,5,0.73,5.0,0.5,0.5,0.00,0.00,NaN,6.00,2,NaN,228.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
49643,1,2013-09-30 23:57:57,2013-10-01 00:08:56,N,1,-73.960648,40.809834,-73.948586,40.776398,1,3.30,12.5,0.5,0.5,2.00,0.00,NaN,15.50,1,NaN,659.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
49644,2,2013-09-30 23:58:40,2013-10-01 00:00:46,N,1,-73.944916,40.834251,-73.952332,40.824036,5,0.63,4.0,0.5,0.5,0.00,0.00,NaN,5.00,2,NaN,126.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
49645,2,2013-09-30 23:59:41,2013-10-01 00:12:10,N,1,-73.952286,40.789814,-73.977318,40.748329,1,0.00,8.5,0.5,0.5,1.90,0.00,NaN,11.40,1,NaN,749.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
49646,2,2013-09-30 23:59:47,2013-10-01 00:06:15,N,1,-73.966194,40.804745,-73.949768,40.822178,1,1.63,7.5,0.5,0.5,0.00,0.00,NaN,8.50,2,1.0,388.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

## Get the bounding box of JFK airport using the geopy library and then add int encoding to indicate if the pickup or dropoff locations were at JFK airport

In [4]:
import geopy
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter

locator = Nominatim(user_agent="myGeocoder")
location = locator.geocode("JFK")
print(location.raw)

### bounding box of JFK airport
JFK = [-73.8232337, -73.7483913, 40.6210509, 40.6647615]

### function to check if a coordinates is inside the bounding box
def select_within_boundingbox(df, BB):
    return ((df.Pickup_longitude >= BB[0]) & (df.Pickup_longitude <= BB[1]) & \
           (df.Pickup_latitude >= BB[2]) & (df.Pickup_latitude <= BB[3])) | \
           ((df.Dropoff_longitude >= BB[0]) & (df.Dropoff_longitude <= BB[1]) & \
           (df.Dropoff_longitude >= BB[2]) & (df.Dropoff_longitude <= BB[3]))

bounded = select_within_boundingbox(final_data, JFK)
final_data['has_JFK'] = bounded
final_data['has_JFK'] = final_data['has_JFK'].apply(lambda x: 1 if x else 0)

{'place_id': 123403486, 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright', 'osm_type': 'way', 'osm_id': 158042008, 'boundingbox': ['40.6210509', '40.6647615', '-73.8232337', '-73.7483913'], 'lat': '40.642947899999996', 'lon': '-73.7793733748521', 'display_name': 'John F. Kennedy International Airport, Robert Road, Inwood, Hempstead, Nassau County, New York, 11430, United States of America', 'class': 'aeroway', 'type': 'aerodrome', 'importance': 0.5499330568859543, 'icon': 'https://nominatim.openstreetmap.org/images/mapicons/transport_airport2.p.20.png'}

### Write the final result to parquet

In [5]:
final_data.to_parquet(final_output_path, index=False)